<div class="container">

  <h1>Etapa 2 <small>Conocimientos y Oportunidades</small></h1>
  <br>
  <mat-form-field class="full-width">
      <input matInput placeholder="UsuarioSAp">
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Periodo">
      </mat-form-field>
  <br>


  <form [formGroup]="infoGeneralForm" (ngSubmit)="onSubmitInfoGeneral(infoGeneralForm.value)">

      <mat-card>
          <div class="row">
    <div class="col-12">
      <h3>Información General</h3>
      <p>Con el fin de escoger una trayectoria de carrera que te motive, acorde a tus Competencias, Motivaciones y
        Valores, te invitamos investigar qué oportunidades existen y cómo éstas se ajustan a tu perfil.</p>

    </div>
  </div>
        <div class="row">
      
          <table cellspacing="0" width="100%">
            <tr>
              <td width="50%">
                <div class="example-container mat-elevation-z4 example-small-box">
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="infg_area_desarrollo" placeholder="¿En qué áreas de la empresa quiero desarrollarme?"
                      cdkTextareaAutosize> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsum enim unde tempora corrupti qui ipsa distinctio assumenda, alias sequi fugit, sed, commodi quos facilis modi non nisi omnis porro.</textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="infg_area_desarrollo_ajuste_comp" placeholder="¿Cómo se ajusta(n) con mis Competencias, Motivaciones y Valores?"
                      cdkTextareaAutosize> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsum enim unde tempora corrupti qui ipsa distinctio assumenda, alias sequi fugit, sed, commodi quos facilis modi non nisi omnis porro.</textarea>
                  </mat-form-field>
                </div>
              </td>
              <td width="50%">
                <div class="example-container mat-elevation-z4 example-small-box">
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="infg_busqueda_desafio" placeholder="¿Qué desafíos estoy buscando? Ej: ascenso en mi área u otra, nuevos proyectos, más responsabilidad de
                                    liderazgo, etc."
                      cdkTextareaAutosize> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsum enim unde tempora corrupti qui ipsa distinctio assumenda, alias sequi fugit, sed, commodi quos facilis modi non nisi omnis porro.</textarea>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="infg_busqueda_desafio_ajuste_com" placeholder="¿Cómo se ajusta(n) con mis Competencias, Motivaciones y Valores?"
                      cdkTextareaAutosize> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsum enim unde tempora corrupti qui ipsa distinctio assumenda, alias sequi fugit, sed, commodi quos facilis modi non nisi omnis porro.</textarea>
                  </mat-form-field>
                </div>
              </td>
            </tr>
          </table>
      
      
        </div>
      
        <button class="submit-btn" color="primary" mat-raised-button type="submit">Guardar</button>
      </mat-card>

</form>

  <br>


  <h3>Información Especifica</h3>
  <p>Investiga máximo 3 Cargos de Interés que podría(s) asumir. En la columna "Información" agrega los datos que pudiste
    recolectar. Luego, en la columna "Ajuste" selecciona el nivel en que el cargo se ajusta a tu perfil.</p>
  <br>


  <mat-tab-group>
      <mat-tab label="CARGO 1">
          <div class="example-small-box mat-elevation-z4">

              <div class="row">
                <div class="col-12">
                  
                  <form class="example-form">
                    <h5>CARGO 1</h5>

 
            
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Cargo" [matAutocomplete]="auto" [formControl]="cargoCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let cargo of filteredCargos | async" [value]="cargo.car_nombre">
                            {{cargo.car_nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
            
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Gerencia" disabled value="Lorem ipsum dolor sit amet.">
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Dirección" disabled value="Lorem ipsum dolor sit amet.">
                    </mat-form-field>
            
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Misión del Cargo" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi illo porro eos eaque modi repellat, magni eveniet dignissimos architecto velit esse, harum amet libero nesciunt, sapiente dolorum quibusdam ab perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi illo porro eos eaque modi repellat, magni eveniet dignissimos architecto velit esse, harum amet libero nesciunt, sapiente dolorum quibusdam ab perferendis.</textarea>
                    </mat-form-field>
            
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Rotación del cargo" disabled value="Vacante cada XX años.">
                    </mat-form-field>
                   
            
                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Experiencia</mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <table class="full-width" cellspacing="0">
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Formación" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Formación">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Especialización" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Especialización">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Conocimientos curso" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Especialización">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>    
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Experiencia General" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Experiencia General">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>     
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Experiencia Especifica" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Experiencia Especifica">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Experiencia liderazgo" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Experiencia Liderazgo">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                  <input disabled matInput placeholder="Otros" value="10">
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                  <input matInput placeholder="Otros">
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                          </table>
                    
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Competencias Indispensables (para obtener el cargo y para ser exitoso/a en éste)</mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <table class="full-width" cellspacing="0">
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Competencia 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Competencia 1" cdkTextareaAutosize></textarea>
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Competencia 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                  </mat-form-field>
                                </td>
                                <td>
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Competencia 1" cdkTextareaAutosize></textarea>
                                  </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="full-width">
                                      <input matInput placeholder="Ajuste">
                                    </mat-form-field>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                    <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Competencia 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                    </mat-form-field>
                                  </td>
                                  <td>
                                    <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Competencia 1" cdkTextareaAutosize></textarea>
                                    </mat-form-field>
                                  </td>
                                  <td>
                                      <mat-form-field class="full-width">
                                        <input matInput placeholder="Ajuste">
                                      </mat-form-field>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      <mat-form-field class="full-width">
                                          <textarea matInput placeholder="Competencia 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                      </mat-form-field>
                                    </td>
                                    <td>
                                      <mat-form-field class="full-width">
                                          <textarea matInput placeholder="Competencia 1" cdkTextareaAutosize></textarea>
                                      </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="full-width">
                                          <input matInput placeholder="Ajuste">
                                        </mat-form-field>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <mat-form-field class="full-width">
                                            <textarea matInput placeholder="Competencia 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                        </mat-form-field>
                                      </td>
                                      <td>
                                        <mat-form-field class="full-width">
                                            <textarea matInput placeholder="Competencia 1" cdkTextareaAutosize></textarea>
                                        </mat-form-field>
                                      </td>
                                      <td>
                                          <mat-form-field class="full-width">
                                            <input matInput placeholder="Ajuste">
                                          </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          <mat-form-field class="full-width">
                                              <textarea matInput placeholder="Competencia 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                          </mat-form-field>
                                        </td>
                                        <td>
                                          <mat-form-field class="full-width">
                                              <textarea matInput placeholder="Competencia 1" cdkTextareaAutosize></textarea>
                                          </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="full-width">
                                              <input matInput placeholder="Ajuste">
                                            </mat-form-field>
                                          </td>
                                      </tr>
                          </table>
                    
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Condiciones</mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <table class="full-width" cellspacing="0">
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Jornada" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Jornada" cdkTextareaAutosize></textarea>
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Otros (lugar de trabajo, viajes, etc.)" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                  </mat-form-field>
                                </td>
                                <td>
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Otros (lugar de trabajo, viajes, etc.)" cdkTextareaAutosize></textarea>
                                  </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="full-width">
                                      <input matInput placeholder="Ajuste">
                                    </mat-form-field>
                                  </td>
                              </tr>
                          </table>
                
                    
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>Motivaciones y Valores</mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <table class="full-width" cellspacing="0">
                            <tr>
                              <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Motivación Valor 1" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                </mat-form-field>
                              </td>
                              <td>
                                <mat-form-field class="full-width">
                                    <textarea matInput placeholder="Motivación Valor 1" cdkTextareaAutosize></textarea>
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field class="full-width">
                                    <input matInput placeholder="Ajuste">
                                  </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Motivación Valor 2" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                  </mat-form-field>
                                </td>
                                <td>
                                  <mat-form-field class="full-width">
                                      <textarea matInput placeholder="Motivación Valor 2" cdkTextareaAutosize></textarea>
                                  </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="full-width">
                                      <input matInput placeholder="Ajuste">
                                    </mat-form-field>
                                  </td>
                              </tr>
                
                              <tr>
                                  <td>
                                    <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Motivación Valor 3" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                    </mat-form-field>
                                  </td>
                                  <td>
                                    <mat-form-field class="full-width">
                                        <textarea matInput placeholder="Motivación Valor 3" cdkTextareaAutosize></textarea>
                                    </mat-form-field>
                                  </td>
                                  <td>
                                      <mat-form-field class="full-width">
                                        <input matInput placeholder="Ajuste">
                                      </mat-form-field>
                                    </td>
                                </tr>
                
                                <tr>
                                    <td>
                                      <mat-form-field class="full-width">
                                          <textarea matInput placeholder="Motivación Valor 4" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                      </mat-form-field>
                                    </td>
                                    <td>
                                      <mat-form-field class="full-width">
                                          <textarea matInput placeholder="Motivación Valor 4" cdkTextareaAutosize></textarea>
                                      </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="full-width">
                                          <input matInput placeholder="Ajuste">
                                        </mat-form-field>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                        <mat-form-field class="full-width">
                                            <textarea matInput placeholder="Motivación Valor 5" disabled cdkTextareaAutosize>Lorem ipsum dolor sit amet</textarea>
                                        </mat-form-field>
                                      </td>
                                      <td>
                                        <mat-form-field class="full-width">
                                            <textarea matInput placeholder="Motivación Valor 5" cdkTextareaAutosize></textarea>
                                        </mat-form-field>
                                      </td>
                                      <td>
                                          <mat-form-field class="full-width">
                                            <input matInput placeholder="Ajuste">
                                          </mat-form-field>
                                        </td>
                                    </tr>
                          </table>
                    
                      </mat-expansion-panel>
                    
                    </mat-accordion>
                
              <br>
                      <button class="submit-btn" color="primary" mat-raised-button type="submit">Guardar</button>
                    </form>
                  </div>
                </div>
              </div>
      </mat-tab>
      <mat-tab label="CARGO 2"> Content 2 </mat-tab>
      <mat-tab label="CARGO 3"> Content 3 </mat-tab>
    </mat-tab-group>




    
    <br>
    <br>

 
</div>