
    .container {
      margin-top: 10px;
    }
    
    .section-title {
      margin-bottom: 20px;
    }
  
    .user-details-container {
      padding: 20px;
      text-align: center;
  
      .user-image {
        width: 100%;
        border-radius: 50%;
      }
  
      .user-title {
        font-size: 14px;
        font-weight: 500;
        margin-top: 30px;
        display: block;
      }
  
      .user-bio {
        font-size: 12px;
        margin-top: 20px;
        display: block;
        color: rgba(0, 0, 0, 0.70);
      }
    }
  
  
  
    .full-width {
      width: 100%;
      margin-bottom: 10px;
    }

    .medium-width {
      width: 50%;
      margin-bottom: 10px;
    }

    .full-width-bold {
      width: 50%;
      margin-bottom: 10px;
      font-weight: bold;
    }
  
    .error-message {
      font-size: 12px;
    }
  
    .double-line-hint {
      .mat-input-hint-wrapper {
        flex-wrap: wrap;
  
        .hint-line {
          flex: 0 0 100%;
        }
      }
    }
  
    .submit-btn {
      margin-top: 30px;
    }



    ///////////////////////////////7
    // .example-form {
    //   min-width: 150px;
    //   max-width: 500px;
    //   width: 100%;
    // }
    
    .example-full-width {
      width: 100%;
    }
    
    td {
      padding-right: 8px;
    }
    .example-small-box, .example-large-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 16px;
      padding: 16px;
      border-radius: 8px;
      padding-top: 30px;
    }

    .example-container {
      display: flex;
      flex-direction: column;
      //margin-top: 100px
    }
    
    .example-container > * {
      width: 100%;
    }