
  <h1>Etapa 1 <small class="text-muted">Autoconocimiento</small></h1>
  <br>
  <app-login (emitUsuarioActivo)="recibirUsuarioActivo($event)"></app-login>

<!--18/10/2019 Versión entrega a Cahuala-->

<form form [formGroup]="formGroupPadrePPer" (ngSubmit)="submitEtapa()">
  <mat-card>
 
      <h3></h3>
  <p>El futuro de tu desarrollo profesional implica responder ciertas interrogantes sobre ti mismo. En esta sección, encontrarás varias preguntas que requerirán de autoanálisis y darán como resultado un autoconicimiento más amplio y profundo.
  </p>

 
  <blockquote class="blockquote text-center">
      <p class="mb-0"></p>
      <footer class="blockquote-footer">"Los humanos hemos nacido para que las cosas nos importen"</footer>
    </blockquote>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                
                <div class="row">
                  <div class="col-12">
                    <h3>Perfil de Personalidad (DISC)</h3>
                    <p>¿Con qué observaciones de mi informe DISC me siento identificado/a y aplican a mi desarrollo de carrera?</p>
                  </div>
                </div>
                <div formGroupName="formGroupHijoPPer">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="example-container mat-elevation-z4 example-small-box">
                      <mat-form-field class="full-width">
                        <textarea matInput formControlName="disc_mova" placeholder="Motivaciones y Valores"
                          cdkTextareaAutosize> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsum enim unde tempora corrupti qui ipsa distinctio assumenda, alias sequi fugit, sed, commodi quos facilis modi non nisi omnis porro.</textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <div class="example-container mat-elevation-z4 example-small-box">
                      <mat-form-field class="full-width">
                        <textarea matInput formControlName="disc_fort" placeholder="Fortalezas"
                          cdkTextareaAutosize> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsum enim unde tempora corrupti qui ipsa distinctio assumenda, alias sequi fugit, sed, commodi quos facilis modi non nisi omnis porro.</textarea>
                      </mat-form-field>
                    </div>
                
                  </div>
                </div>
                </div>
                 
                  <a href="/sites/mpdc/app/SitePages/Test.aspx" target="_blank">Link a test (DISC)</a>
                                        
              </div>
            </div>   
            
            <p><small><strong></strong></small></p>
            <br>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <button mat-raised-button 
                          id="boton2"
                          class="submit-btn" 
                          color="primary"  
                          type="submit"
                          [disabled]="guardando">Guardar</button>
                </div>
                <div class="col-lg-6 col-sm-6 text-right">
                  <button mat-raised-button 
                          color="primary" 
                          (click)="goToLinkSelf('https://o365saven.sharepoint.com/sites/mpdc/app/SitePages/MP-Etapa2.aspx')">Siguiente</button>
                </div>
              </div>
  </mat-card>
</form>

<form form [formGroup]="formGroupPadreCA" (ngSubmit)="submitEtapa()">
  <mat-card>
      <h3></h3>
  <p>
  </p>
  <blockquote class="blockquote text-center">
      <p class="mb-0"></p>
      <footer class="blockquote-footer"></footer>
    </blockquote>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                
                <div class="row">
                  <div class="col-12">
                    <h3>Competencias de Autodesarrollo</h3>
                    <p align="justify">El desarrollo profesional requiere habilidades muy precisas que deben promoverse. Para alcanzar metas cada vez más exigentes, hay ciertos comportamientos que han probado ser capaces de acelerar el proceso de crecimiento, son las competencias de autodesarrollo: Autogestión, Accountability, Generación de redes, Innovación y Tolerancia a la frustración. En la <a href="/sites/mpdc/app/SitePages/Biblioteca.aspx" target="_blank">Biblioteca</a> encontrarás todo lo necesario para conocerlas.
                    </p>
                    
                  <p>
                      Evalúa tus competencias y pide a una persona que sean significativas para ti que lo haga también. Contrastar tus opiniones con las de otras personas es esencial. Aquellos comentarios que te hagan más sentido, puedes registrarlos en esta sección.
                    </p>
                  </div>
                </div>

                  <mat-accordion>
                   
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                  <mat-panel-title>Promedio Evaluaciones</mat-panel-title>
                  </mat-expansion-panel-header>
                  
                    <div *ngFor="let item of nombresFromGroupCAUTODESARROLLO">
                      
                                              <div [formGroupName]="item">
                                                <div class="row form-group-border" *ngFor="let campo of camposFormCA">
                                                
                                                  <div class="col-lg-6 col-sm-12">
                                                    <mat-form-field class="full-width">
                                                      <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampo"
                                                        [placeholder]="campo.nombreMostrar"></textarea>
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-lg-3 col-sm-12">
                                                    <mat-form-field class="full-width">
                                                      <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampo2"
                                                        [placeholder]="campo.nombreMostrar2"></textarea>
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-lg-3 col-sm-12">
                                                    <mat-form-field class="full-width">
                                                      <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampo3"
                                                        [placeholder]="campo.nombreMostrar3"></textarea>
                                                    </mat-form-field>
                                                  </div>
                                                
                                                </div>
                                              </div>

                    </div>
            
                </mat-expansion-panel>
                    
                  </mat-accordion>

                <mat-accordion>
                   
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                      <mat-panel-title>Feedback Recibido</mat-panel-title>
                      </mat-expansion-panel-header>
                     
                        <div *ngFor="let item of nombresFromGroupFEEDBACKR">
                          
                                                  <div [formGroupName]="item">
                                                    <div class="row form-group-border" *ngFor="let campo of camposFormFR">
                                                    
                                                      <div class="col-lg-6 col-sm-12">
                                                        <mat-form-field class="full-width">
                                                          <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoFR"
                                                            [placeholder]="campo.nombreMostrarFR"></textarea>
                                                        </mat-form-field>
                                                      </div>
                                                      <div class="col-lg-6 col-sm-12">
                                                        <mat-form-field class="full-width">
                                                          <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoFR1"
                                                            [placeholder]="campo.nombreMostrarFR1"></textarea>
                                                        </mat-form-field>
                                                      </div>

                                                      <div class="col-lg-6 col-sm-12">
                                  
                                                          <mat-form-field>
                                                              <input matInput [matDatepicker]="picker" [formControlName]="campo.nombreCampoFR2" [placeholder]="campo.nombreMostrarFR2">
                                                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                              <mat-datepicker #picker></mat-datepicker>
                                                            </mat-form-field>
                    
                                                    </div>

                                                      <div class="col-lg-6 col-sm-12">
                                                        <mat-form-field class="full-width">
                                                          <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoFR3"
                                                            [placeholder]="campo.nombreMostrarFR3"></textarea>
                                                        </mat-form-field>
                                                      </div>
                                                    
                                                    </div>
                                                  </div>

                        </div>
               
                    </mat-expansion-panel>
                  
                </mat-accordion>
                
                
              </div>
            </div>



            <br> 
            <p><small><strong></strong></small></p>
            <blockquote class="blockquote text-center">
              <p class="mb-0"></p>
              <footer class="blockquote-footer">"No vemos las cosas como son, sino como somos"</footer>
            </blockquote>

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <button mat-raised-button 
                          id="boton2"
                          class="submit-btn" 
                          color="primary"  
                          type="submit"
                          [disabled]="guardando">Guardar</button>
                </div>
                <div class="col-lg-6 col-sm-6 text-right">
                  <button mat-raised-button 
                          color="primary"  
                          (click)="goToLinkSelf('https://o365saven.sharepoint.com/sites/mpdc/app/SitePages/MP-Etapa2.aspx')">Siguiente</button>
                </div>
              </div>
  </mat-card>
</form>

<form form [formGroup]="formGroupPadreOCom" (ngSubmit)="submitEtapa()">
  <mat-card>
      <h3></h3>
  <p>
  </p>
  <blockquote class="blockquote text-center">
      <p class="mb-0"></p>
      <footer class="blockquote-footer"></footer>
    </blockquote>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                
                <div class="row">
                  <div class="col-12">
                    <h3>Competencias +</h3>
                    <p>A partir de la retroalimentación que ya has recibido y tu reflexión personal. ¿Qué otras Fortalezas y Oportunidades de Mejora crees que tienes?</p>
                    <p>Las competencias son conductas que hacen la diferencia entre un desempeño medio y uno sobresaliente. Aprende sobre competencias y define algunas que te propongas mejorar, como máximo tres fortalezas y dos debilidades. </p>
                    <p>Conviértete en un experto sobre ti mismo, mantén siempre en el foco tus fortalezas y debilidades, pueden ir cambiando, pero están presentes en todas las etapas del desarrollo profesional.</p>
                    <p>Tus fortalezas son tu fuerza e impulso en el camino hacia el desarrollo, tus debilidades el aprendizaje.
                    </p>

                  </div>
                </div>

                  <mat-accordion>
                   
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>Mis 3 Top Fortalezas</mat-panel-title>
                        </mat-expansion-panel-header>
                       
                          <div *ngFor="let item of nombresFromGroupTFORTALEZA1">
                            
                            <div [formGroupName]="item">
                              <div class="row form-group-border" *ngFor="let campo of camposFormTF">
                              
                                <div class="col-lg-9 col-sm-12">
                                  <!--
                                  <mat-form-field class="full-width">
                                    <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoTF1"
                                      [placeholder]="campo.nombreMostrarTF1"></textarea>
                                  </mat-form-field>-->
                                  <mat-label>{{campo.nombreMostrarTF1}}</mat-label>
                                  <mat-select [formControlName]="campo.nombreCampoTF1" [placeholder]="campo.nombreMostrarTF2">
                                    <mat-option *ngFor="let c of selectCompetencia" [value]="c">
                                      {{c}}
                                    </mat-option>
                                  </mat-select>

                                </div>
                              
                              </div>
                            </div>

                          </div>

                          <div *ngFor="let item of nombresFromGroupTFORTALEZA2">
                            
                            <div [formGroupName]="item">
                              <div class="row form-group-border" *ngFor="let campo of camposFormTF1">
                              
                                <div class="col-lg-9 col-sm-12">
                                    <mat-label>{{campo.nombreMostrarTF1}}</mat-label>
                                    <mat-select [formControlName]="campo.nombreCampoTF1" [placeholder]="campo.nombreMostrarTF2">
                                      <mat-option *ngFor="let c of selectCompetencia" [value]="c">
                                        {{c}}
                                      </mat-option>
                                    </mat-select>
                                </div>
                              
                              </div>
                            </div>

                          </div>

                          <div *ngFor="let item of nombresFromGroupTFORTALEZA3">
                            
                              <div [formGroupName]="item">
                                <div class="row form-group-border" *ngFor="let campo of camposFormTF2">
                                
                                  <div class="col-lg-9 col-sm-12">
                                    <mat-form-field class="full-width">
                                      <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoTF1"
                                        [placeholder]="campo.nombreMostrarTF1"></textarea>
                                    </mat-form-field>
                                  </div>
                                
                                </div>
                              </div>
  
                            </div>
                 
                      </mat-expansion-panel>
                      
                  </mat-accordion>

                  <mat-accordion>
                   
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                      <mat-panel-title>Mis 2 Oportunidades de Mejora</mat-panel-title>
                      </mat-expansion-panel-header>
                     
                        <div *ngFor="let item of nombresFromGroupOMEJORA1">
                          
                                                  <div [formGroupName]="item">
                                                    <div class="row form-group-border" *ngFor="let campo of camposFormOM1">
                                                      <div class="col-lg-9 col-sm-12">
                                                      <!--<mat-form-field class="full-width">
                                                          <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoOM1"
                                                            [placeholder]="campo.nombreMostrarOM1"></textarea>
                                                        </mat-form-field>-->

                                                        <mat-label>{{campo.nombreMostrarOM1}}</mat-label>
                                                        <mat-select [formControlName]="campo.nombreCampoOM1" [placeholder]="campo.nombreMostrarOM2">
                                                          <mat-option *ngFor="let c of selectCompetencia" [value]="c">
                                                            {{c}}
                                                          </mat-option>
                                                        </mat-select>

                                                      </div>
                                                    </div>
                                                  </div>
                                                  
                        </div>

                        <div *ngFor="let item of nombresFromGroupOMEJORA2">
                          
                            <div [formGroupName]="item">
                              <div class="row form-group-border" *ngFor="let campo of camposFormOM2">
                                <div class="col-lg-9 col-sm-12">
                                  <mat-form-field class="full-width">
                                    <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoOM1"
                                      [placeholder]="campo.nombreMostrarOM1"></textarea>
                                  </mat-form-field>
                                </div>                         
                              </div>
                            </div>
                            
  </div>
               
                    </mat-expansion-panel>
                    
                </mat-accordion>               
              </div>
            </div>   
            <br> 
            <p><small><strong></strong></small></p>
            <br>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <button mat-raised-button 
                          id="boton2"
                          class="submit-btn" 
                          color="primary"  
                          type="submit"
                          [disabled]="guardando">Guardar</button>
                </div>
                <div class="col-lg-6 col-sm-6 text-right">
                  <button mat-raised-button 
                          color="primary" 
                          (click)="goToLinkSelf('https://o365saven.sharepoint.com/sites/mpdc/app/SitePages/MP-Etapa2.aspx')">Siguiente</button>
                </div>
              </div>
  </mat-card>
</form>

<form form [formGroup]="formGroupPadreMVal" (ngSubmit)="submitEtapa()">
  <mat-card>
      <h3></h3>
  <p>
  </p>
  <blockquote class="blockquote text-center">
      <p class="mb-0"></p>
      <footer class="blockquote-footer"></footer>
    </blockquote>
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                
                <div class="row">
                  <div class="col-12">
                    <h3>Motivaciones</h3>
                    <p align="justify">¿Qué es importante para ti en el trabajo?, ¿Qué te moviliza?, ¿Qué valoras? 
                      El siguiente es un listado de 17 de las motivaciones más valoradas en la actualidad. Haz el ejercicio de jerarquizarlas, de ordenarlas según su importancia para ti, siendo 1 el más importante y 20 el menos. Puedes agregar 3 valores adicionales que no estén considerados y que son significativos en tu vida.
                      </p>
                      <p>
                        Hacer este ejercicio una vez al año es un trabajo de mucho impacto, te permitirá tener muy claras tus prioridades.
                      </p>
                  </div>
                </div>

                  <mat-accordion>
                   
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>Check List de Motivaciones</mat-panel-title>
                        </mat-expansion-panel-header>
                       
                          <div *ngFor="let item of nombresFromGroupCHECKLISTMV">
                            
                                                    <div [formGroupName]="item">
                                                      <div class="row form-group-border" *ngFor="let campo of camposFormCHECKL">
                                                      
                                                        <div class="col-lg-10 col-sm-12">
                                                          <mat-form-field class="full-width">
                                                            <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoCHECKL1"
                                                              [placeholder]="campo.nombreMostrarCHECKL1"></textarea>
                                                          </mat-form-field>
                                                        </div>

                                                        <div class="col-lg-2 col-sm-12">
                                                            <mat-form-field class="full-width">
                                                              <mat-label>Jerarquizar</mat-label>
                                                              <mat-select [formControlName]="campo.nombreCampoCHECKL2">
                                                                <mat-option *ngFor="let ajuste of selectAjuste" [value]="ajuste.nompre">
                                                                  {{ajuste.nompre}}
                                                                </mat-option>
                                                              </mat-select>
                                                            </mat-form-field>
                                                          </div>
                                                      
                                                      </div>
                                                    </div>

                          </div>
                 
                      </mat-expansion-panel>
                      
                  </mat-accordion>

                  <mat-accordion>
                   
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                      <mat-panel-title>Mis Top 5 Valores</mat-panel-title>
                      </mat-expansion-panel-header>
                     
                        <div *ngFor="let item of nombresFromGroupTOP5V">
                          
                                                  <div [formGroupName]="item">
                                                    <div class="row form-group-border" *ngFor="let campo of camposFormTOP5V1">
                                                    
                                                        <div class="col-lg-2 col-sm-12">
                                                            <mat-form-field class="full-width">
                                                              <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoTOP5V1"
                                                                [placeholder]="campo.nombreMostrarTOP5V1"></textarea>
                                                            </mat-form-field>
                                                          </div>
                                                      <div class="col-lg-10 col-sm-12">
                                                        <mat-form-field class="full-width">
                                                          <textarea matInput cdkTextareaAutosize [formControlName]="campo.nombreCampoTOP5V2"
                                                            [placeholder]="campo.nombreMostrarTOP5V2"></textarea>
                                                        </mat-form-field>
                                                      </div>
                                                    
                                                    </div>
                                                  </div>

                        </div>
               
                    </mat-expansion-panel>
                    
                </mat-accordion>


                

                
              </div>
            </div>   
            <br> 
            <p><small><strong></strong></small></p>
            <br>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <button mat-raised-button 
                          id="boton2"
                          class="submit-btn" 
                          color="primary"  
                          type="submit"
                          [disabled]="guardando">Guardar</button>
                </div>
                <div class="col-lg-3 col-sm-3 text-right">
                  <button mat-raised-button 
                          color="warn" 
                          (click)="goToLinkSelf('https://o365saven.sharepoint.com/sites/mpdc/app/SitePages/MP-Resumen.aspx')">Resumen</button>
                </div>
                <div class="col-lg-3 col-sm-3 text-right">
                    <button mat-raised-button 
                            color="primary" 
                            (click)="goToLinkSelf('https://o365saven.sharepoint.com/sites/mpdc/app/SitePages/MP-Etapa2.aspx')">Siguiente</button>
                  </div>
              </div>
  </mat-card>
</form>

<br><br>